{% extends "frontend/layout.html"%}
{% load static%}
{%block content%}
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6"><br><br><br><br><br><br>
        <form class="form-floating">
            <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" >
            <label for="floatingInputValue">ชื่อ Product</label>
          </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6"><br><br>
          <a class="btn btn-primary container" href="#" role="button">ค้นหา</a>
      </div>
      <div class="col">
      </div>
    </div>
  </div>


{%endblock%}