{% extends "frontend/layout.html"%}
{% load static%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col">
    </div>

          <div class="col">
            {% if messages %}
            <ul class="messages">
                   {% for message in messages %}
                         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                   {% endfor %}
           </ul>
    {% endif %}
          </div>

    <div class="col">
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="card  container" style="max-width: 700px;"><br>
          {% for blogs in blogs%}
          <form method="POST">
            {% csrf_token %}
            <input type="text" value="{{blogs.productID}} || {{blogs.createPo}} || {{blogs.addtime}}"  required name="url">
            <button type= "submit" >get qrcode</button>
         </form>
         {% endfor%}
         {% for qr in qr_code %}
         <img src="{{qr.image.url}}"/><br>
         {%endfor%}

          {% for blogs in blogs%}

          <form class="form-floating" method="post">
            {% csrf_token %}
            <div class="row g-0">
              <div class="col"><br>
                  <div>
                    
                     <input type="text" class="form-control" name="qr_text"  value="{{blogs.productID}} || {{blogs.createPo}} || {{blogs.addtime}}" autofocus>
                    <br>
                  </div>              
                    <button  class="btn btn-primary container" type="submit">ยืนยัน</button><br><br>
                  </div> </div> 
                  </form>
                
                  {% endfor%}
                

               </div>
       
              </div>
              <div class="col">
              </div>
            </div>
          </div>
{%endblock%}