{% extends "frontend/layout.html"%}
{% load static%}
{%block content%}
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="card  container" style="max-width: 700px;"><br>
        <form class="form-floating"  action="" method="post">
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">ชื่อสินค้า</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">รหัสสินค้า</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">หมายเลข PO</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
        <button  class="btn btn-primary container" type="submit">QR CODE</button><br><br>
      </form>
    </div>
       
              </div>
              <div class="col">
              </div>
            </div>
          </div>
{%endblock%}